USE [master]
GO
/****** Object:  Database [WearMart]    Script Date: 03-04-2022 12:46:15 ******/
CREATE DATABASE [WearMart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WearMart', FILENAME = N'C:\Users\613098128\WearMart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WearMart_log', FILENAME = N'C:\Users\613098128\WearMart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WearMart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WearMart]
GO
USE [WearMart]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 03-04-2022 12:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[Id] [int] NOT NULL,
	[Size_Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 03-04-2022 12:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Style_Name] [varchar](100) NULL,
 CONSTRAINT [PK_Style] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tshirt]    Script Date: 03-04-2022 12:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tshirt](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Size_Id] [int] NOT NULL,
	[Style_Id] [int] NOT NULL,
	[Manufature_Region] [varchar](50) NULL,
	[Colour] [char](30) NULL,
	[Gender] [char](10) NOT NULL,
	[Description] [varchar](250) NULL,
	[Cost] [int] NULL,
	[Availablity] [bit] NULL,
	[ProdutionAdditionDate] [datetime] NULL,
	[ProductUpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Tshirt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Size] ([Id], [Size_Type]) VALUES (1, N's')
INSERT [dbo].[Size] ([Id], [Size_Type]) VALUES (2, N'm')
INSERT [dbo].[Size] ([Id], [Size_Type]) VALUES (3, N'L')
GO
SET IDENTITY_INSERT [dbo].[Style] ON 

INSERT [dbo].[Style] ([Id], [Style_Name]) VALUES (1, N'Blazzer')
INSERT [dbo].[Style] ([Id], [Style_Name]) VALUES (2, N'Round Neck')
INSERT [dbo].[Style] ([Id], [Style_Name]) VALUES (3, N'V Neck')
SET IDENTITY_INSERT [dbo].[Style] OFF
GO
ALTER TABLE [dbo].[Style]  WITH CHECK ADD  CONSTRAINT [FK_Style_Style] FOREIGN KEY([Id])
REFERENCES [dbo].[Style] ([Id])
GO
ALTER TABLE [dbo].[Style] CHECK CONSTRAINT [FK_Style_Style]
GO
ALTER TABLE [dbo].[Tshirt]  WITH CHECK ADD  CONSTRAINT [FK_Tshirt_Size] FOREIGN KEY([Size_Id])
REFERENCES [dbo].[Size] ([Id])
GO
ALTER TABLE [dbo].[Tshirt] CHECK CONSTRAINT [FK_Tshirt_Size]
GO
ALTER TABLE [dbo].[Tshirt]  WITH CHECK ADD  CONSTRAINT [FK_Tshirt_Style] FOREIGN KEY([Style_Id])
REFERENCES [dbo].[Style] ([Id])
GO
ALTER TABLE [dbo].[Tshirt] CHECK CONSTRAINT [FK_Tshirt_Style]
GO
USE [master]
GO
