USE [master]
GO
/****** Object:  Database [WearMart]    Script Date: 06-04-2022 21:02:55 ******/
CREATE DATABASE [WearMart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WearMart', FILENAME = N'C:\Users\613098128\WearMart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WearMart_log', FILENAME = N'C:\Users\613098128\WearMart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WearMart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WearMart]
GO
USE [WearMart]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 06-04-2022 21:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](100) NULL,
	[FileData] [varbinary](max) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 06-04-2022 21:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size_Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 06-04-2022 21:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Style_Name] [varchar](100) NULL,
 CONSTRAINT [PK_Style] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tshirt]    Script Date: 06-04-2022 21:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tshirt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size_Id] [int] NOT NULL,
	[Style_Id] [int] NOT NULL,
	[Manufature_Region] [varchar](50) NULL,
	[Product_Image_Name] [varchar](250) NULL,
	[Colour] [varchar](30) NULL,
	[Gender] [varchar](10) NOT NULL,
	[Description] [varchar](500) NULL,
	[Cost] [int] NULL,
	[Availablity] [bit] NULL,
	[ProdutionAdditionDate] [datetime] NULL,
	[ProductUpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Tshirt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

SET IDENTITY_INSERT [dbo].[Files] OFF
GO
INSERT [dbo].[Size] ([Id], [Size_Type]) VALUES (1, N'XXXS')
INSERT [dbo].[Size] ([Id], [Size_Type]) VALUES (2, N'XXS')
INSERT [dbo].[Size] ([Id], [Size_Type]) VALUES (3, N'XS')
GO
SET IDENTITY_INSERT [dbo].[Style] ON 

INSERT [dbo].[Style] ([Id], [Style_Name]) VALUES (1, N'Half-Sleeve')
INSERT [dbo].[Style] ([Id], [Style_Name]) VALUES (2, N'V-Neck')
INSERT [dbo].[Style] ([Id], [Style_Name]) VALUES (3, N'Ringer T-shirt')
SET IDENTITY_INSERT [dbo].[Style] OFF
GO
SET IDENTITY_INSERT [dbo].[Tshirt] ON 

INSERT [dbo].[Tshirt] ([Id], [Size_Id], [Style_Id], [Manufature_Region], [Product_Image_Name], [Colour], [Gender], [Description], [Cost], [Availablity], [ProdutionAdditionDate], [ProductUpdateDate]) VALUES (20, 3, 2, N'India', N'V-neck.JPG', N'Dark Grey', N'Female', N'the V-neck T-shirt is often worn as piece of unconcealed clothing that shines in its own right. It’s no longer a T-shirt that people simply hide beneath other clothes.', 15, 1, NULL, CAST(N'2022-04-06T15:27:42.413' AS DateTime))
INSERT [dbo].[Tshirt] ([Id], [Size_Id], [Style_Id], [Manufature_Region], [Product_Image_Name], [Colour], [Gender], [Description], [Cost], [Availablity], [ProdutionAdditionDate], [ProductUpdateDate]) VALUES (21, 7, 3, N'India', N'Ringer.JPG', N'Black', N'Male', N'The ringer T-shirt has contrast bands on the neckline and sleeve hems. This is a subtle detail, but it’s one that really makes this style of T-shirt look utterly intriguing.', 20, 1, CAST(N'2022-04-06T13:27:48.623' AS DateTime), CAST(N'2022-04-06T13:27:48.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tshirt] OFF
GO
ALTER TABLE [dbo].[Style]  WITH CHECK ADD  CONSTRAINT [FK_Style_Style] FOREIGN KEY([Id])
REFERENCES [dbo].[Style] ([Id])
GO
ALTER TABLE [dbo].[Style] CHECK CONSTRAINT [FK_Style_Style]
GO
ALTER TABLE [dbo].[Tshirt]  WITH CHECK ADD  CONSTRAINT [FK_Tshirt_Size] FOREIGN KEY([Size_Id])
REFERENCES [dbo].[Size] ([Id])
GO
ALTER TABLE [dbo].[Tshirt] CHECK CONSTRAINT [FK_Tshirt_Size]
GO
ALTER TABLE [dbo].[Tshirt]  WITH CHECK ADD  CONSTRAINT [FK_Tshirt_Style] FOREIGN KEY([Style_Id])
REFERENCES [dbo].[Style] ([Id])
GO
ALTER TABLE [dbo].[Tshirt] CHECK CONSTRAINT [FK_Tshirt_Style]
GO
USE [master]
GO
